@CHARSET "UTF-8";

body, button, input, select, textarea, h1, h2, h3, h4, h5, h6 {
	font-family: Microsoft YaHei, '宋体', Tahoma, Helvetica, Arial,
		"\5b8b\4f53", sans-serif;
}

* {
    box-sizing: border-box;
}

.header {
	width: 100%;
	height: 36px;
	line-height: 36px;
	background-color: #f0f0f0;
}

a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

.header a:hover {
	text-decoration: none;
	color: #cc3333;
}

a:active {
	text-decoration: none;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.forget-reg {
	margin-top: 6px;
	margin-left: 11%; 
	margin-right: 11%;
}

.forget-reg a:hover {
	text-decoration: none;
	color: #cc3333;
}

.text-gray {
	color: #999;
}

.text-red {
	color: #cc3333;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

.status-bar {
	height: 38px;
	line-height: 38px;
	border-bottom: 2px solid #e4e4e4;
}

.status {
	color: #555;
	width: 80px;
	height: 38px;
	font-size: 16px;
	text-align: center;
	line-height: 38px;
}

.status-bar a:hover {
	cursor: pointer;
	color: #d9534f;
	text-decoration: none;
	border-bottom: 2px solid #d9534f;
}

.status-select {
	color: #d9534f;
	border-bottom: 2px solid #d9534f;
}

ol, ul {
    list-style: none;
}

.table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 1px solid #ddd;
    background-color: #f0f0f0;
}

.page {
    user-select: none;
    border-radius: 0;
    height: 35px;
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
}

.page a {
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
}

 .page-prev, .page-item, .page-next {
    border-radius: 0;
    text-align: center;
    list-style: none;
}

.page-prev, .page-next, .page-item {
    cursor: pointer;
    color: #555;
    min-width: 35px;
    height: 35px;
    line-height: 35px;
    float: left;
    border: 1px solid #e8e8e8;
    margin-right: 2px;
}

.page-disabled {
    cursor: not-allowed;
}

.page-active {
	color: #fff;
	background-color: #d9534f;
	min-width: 35px;
    height: 35px;
    line-height: 35px;
    float: left;
    border: 1px solid #d9534f;
    margin-right: 2px;
}

.page-disabled a {
	color: #ccc;
}

.page-active a {
	color: #fff;
}

.page-prev a {
	color: #555;
}

.page-item a {
	color: #555;
}

.page-next a {
	color: #555;
}

.page-item a:hover {
	color: #d9534f;
}

.page-next a:hover {
	color: #d9534f;
}

.page-prev a:hover {
	color: #d9534f;
}

.page li:hover {
	color: #d9534f;
	border: 1px solid #d9534f;
}

.box-shadow-1 {
	-webkit-box-shadow:0 0 10px 1px #ccc;  
	-moz-box-shadow:0 0 10px 1px #ccc;  
	box-shadow:0 0 10px 1px #ccc;  
}
	
.box-shadow-2 {  
	-webkit-box-shadow:0 0 10px 2px #ccc;  
	-moz-box-shadow:0 0 10px 2px #ccc;  
	box-shadow:0 0 10px 2px #ccc;  
}

.btn-submit {
	display: inline-block;
	width: 100%;
	height: 34px;
	font-size: 16px;
	color: #fff;
	text-align: center;
	background-color: #d9534f;
	border-radius: 3px;
	border: 1px solid transparent;
}

.btn-submit:hover {
	color: #fff;
   	background-color: #cc3333;
}

.footer {
	margin-top: 0;
	border-top: 0;
	text-align: left;
}

.footer {
	padding-top: 50px;
	padding-bottom: 50px;
	color: #ccc;
	text-align: center;
	background-color: #666;
}