<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div id="base">
        <div class="header">
            <div class="logo"></div>
            <div class="register"></div>
            <div class="login"></div>
            <div class="order"></div>
            <div class="person"></div>
            <div class="help"></div>
        </div>
        <div class="search">

        </div>
        <div class="content">

        </div>


    </div>



</body>
</html>