<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../css/index/public.css" rel="stylesheet">
    <link href="../css/index/index.css" rel="stylesheet">
    <script src="//cdn.bootcss.com/angular.js/1.6.4/angular.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
</head>
<body ng-app="myApp" ng-controller="myCtrl">
<!--头部-->
<header class="headerBox">
    <div class="headerCon">
        <span class="welcome lf">
        	您好！欢迎来到游戏充值！
    	</span>
        <a class="headerLogin" href="/account/login.html">登录</a>
        <a class="headerRegister" href="/register.html">注册</a>

        <div class="rt">
            <ul>
                <li class="myOrder"><a href="/member/personal/web-order.html">我的订单</a></li>
                <li class="spacer"></li>
                <li class="personalCenter"><a href="/member/personal.html">个人中心</a><span class="dropTriangle"></span></li>
                <li class="spacer"></li>
                <li class="helpCenter"><a href="/help.html" target="_blank">帮助中心</a></li>
            </ul>
        </div>
    </div>
</header>
<!--搜索框-->
<div id="top_main">
    <a href="http://www.daminghu.co" class="lf logo">
        <img src="/images/oldlogo.png" alt="LOGO"/>
    </a>

    <div id="search_box" class="rt">
        <div class="search">
            <div id="txtSearch" class="text">
                <div class="lf searchBox">
                    <input type="text" class="searchInput" id="searchInput" placeholder="请输入游戏名/商品名/店铺名称"/>
                </div>
                <div class="" id="searchBut">
                    搜索
                </div>
            </div>
        </div>
    </div>
</div>
<!--主体-->
<section id="main" class="main clear">
    <div class="floor">
        <div class="popularGame">
            <div class="InfoTitle">
                <div class="title">热门游戏</div>
            </div>
            <div class="gameContain">
                <ul>
                    <li>
                        <div class="gameConBox">
                            <div class="gameConBoxImg">
                                <a href="/goods-2753.html" target="_blank"> <img
                                        src="http://upload.static.daminghu.co/resource/public/game/20161006/01a4babc-d610-5aa2-a4e8-67c9a349eb30.gif"
                                        alt=""/> </a>
                            </div>
                            <div class="gameConDetail">
                                <a href="/goods-2753.html" target="_blank"><h5 class="gameTitle">王者荣耀</h5></a>

                                <div class="gameClassify">
                                    <a class="chargeGeneration"
                                       href="/goods-2753.html?pid=2" target="_blank">购买</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="gameConBox">
                            <div class="gameConBoxImg">
                                <a href="/goods-4487.html" target="_blank"> <img
                                        src="http://upload.static.daminghu.co/resource/public/game/20170105/be731b6c-2097-483a-7eff-fcc5cb255b0c.png"
                                        alt=""/> </a>
                            </div>
                            <div class="gameConDetail">
                                <a href="/goods-4487.html" target="_blank"><h5 class="gameTitle">寻情剑</h5></a>

                                <div class="gameClassify">
                                    <a class="chargeGeneration"
                                       href="/goods-4487.html?pid=2" target="_blank">购买</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="gameConBox">
                            <div class="gameConBoxImg">
                                <a href="/goods-3657.html" target="_blank"> <img
                                        src="http://upload.static.daminghu.co/resource/public/game/20161006/fd07d3c9-d8ae-cca0-8435-3b3121a0d1dc.jpg"
                                        alt=""/> </a>
                            </div>
                            <div class="gameConDetail">
                                <a href="/goods-3657.html" target="_blank"><h5 class="gameTitle">城市精灵GO</h5></a>

                                <div class="gameClassify">
                                    <a class="chargeGeneration"
                                       href="/goods-3657.html?pid=2" target="_blank">购买</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="gameConBox">
                            <div class="gameConBoxImg">
                                <a href="/goods-176.html" target="_blank"> <img
                                        src="http://upload.static.daminghu.co/resource/public/game/20161006/12e81253-54bc-1b24-bfd5-e69702a9cfa3.jpg"
                                        alt=""/> </a>
                            </div>
                            <div class="gameConDetail">
                                <a href="/goods-176.html" target="_blank"><h5 class="gameTitle">部落冲突</h5></a>

                                <div class="gameClassify">
                                    <a class="chargeGeneration"
                                       href="/goods-176.html?pid=2" target="_blank">购买</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="gameConBox">
                            <div class="gameConBoxImg">
                                <a href="/goods-4056.html" target="_blank"> <img
                                        src="http://upload.static.daminghu.co/resource/public/game/20161006/70ad5731-5187-3924-99a7-a4fc71f9f8bd.gif"
                                        alt=""/> </a>
                            </div>
                            <div class="gameConDetail">
                                <a href="/goods-4056.html" target="_blank"><h5 class="gameTitle">少年西游记HD</h5></a>

                                <div class="gameClassify">
                                    <a class="chargeGeneration"
                                       href="/goods-4056.html?pid=2" target="_blank">购买</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="gameConBox">
                            <div class="gameConBoxImg">
                                <a href="/goods-3350.html" target="_blank"> <img
                                        src="http://upload.static.daminghu.co/resource/public/game/20161006/212c7979-a9de-a5ac-cc1a-868926025a77.gif"
                                        alt=""/> </a>
                            </div>
                            <div class="gameConDetail">
                                <a href="/goods-3350.html" target="_blank"><h5 class="gameTitle">丧尸之战</h5></a>

                                <div class="gameClassify">
                                    <a class="chargeGeneration"
                                       href="/goods-3350.html?pid=2" target="_blank">购买</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="gameConBox">
                            <div class="gameConBoxImg">
                                <a href="/goods-4198.html" target="_blank"> <img
                                        src="http://upload.static.daminghu.co/resource/public/game/20161006/60fc91f9-39c0-bdea-e96c-deb97a97639c.jpg"
                                        alt=""/> </a>
                            </div>
                            <div class="gameConDetail">
                                <a href="/goods-4198.html" target="_blank"><h5 class="gameTitle">王国纪元</h5></a>

                                <div class="gameClassify">
                                    <a class="chargeGeneration"
                                       href="/goods-4198.html?pid=2" target="_blank">购买</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="gameConBox">
                            <div class="gameConBoxImg">
                                <a href="/goods-3840.html" target="_blank"> <img
                                        src="http://upload.static.daminghu.co/resource/public/game/20161006/8e38fd61-1acb-4d26-772a-f06fcd071d94.jpg"
                                        alt=""/> </a>
                            </div>
                            <div class="gameConDetail">
                                <a href="/goods-3840.html" target="_blank"><h5 class="gameTitle">苍穹绝仙</h5></a>

                                <div class="gameClassify">
                                    <a class="chargeGeneration"
                                       href="/goods-3840.html?pid=2" target="_blank">购买</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="gameConBox">
                            <div class="gameConBoxImg">
                                <a href="/goods-2919.html" target="_blank"> <img
                                        src="http://upload.static.daminghu.co/resource/public/game/20161226/11b58565-48d8-2a98-e2ee-6c4bd026be75.png"
                                        alt=""/> </a>
                            </div>
                            <div class="gameConDetail">
                                <a href="/goods-2919.html" target="_blank"><h5 class="gameTitle">沙巴克传奇</h5></a>

                                <div class="gameClassify">
                                    <a class="chargeGeneration"
                                       href="/goods-2919.html?pid=2" target="_blank">购买</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="gameConBox">
                            <div class="gameConBoxImg">
                                <a href="/goods-2416.html" target="_blank"> <img
                                        src="http://upload.static.daminghu.co/resource/public/game/20161006/6e48d7ae-df12-7e2a-625d-9763e6a67b87.gif"
                                        alt=""/> </a>
                            </div>
                            <div class="gameConDetail">
                                <a href="/goods-2416.html" target="_blank"><h5 class="gameTitle">王者荣耀</h5></a>

                                <div class="gameClassify">
                                    <a class="chargeGeneration"
                                       href="/goods-2919.html?pid=2" target="_blank">购买</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="gameConBox">
                            <div class="gameConBoxImg">
                                <a href="/goods-4490.html" target="_blank"> <img
                                        src="http://upload.static.daminghu.co/resource/public/game/20170105/db47e51c-fe1b-d008-6b12-3d066d12ffd6.png"
                                        alt=""/> </a>
                            </div>
                            <div class="gameConDetail">
                                <a href="/goods-4490.html" target="_blank"><h5 class="gameTitle">兽人之战</h5></a>

                                <div class="gameClassify">
                                    <a class="chargeGeneration"
                                       href="/goods-4490.html?pid=2" target="_blank">购买</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="gameConBox">
                            <div class="gameConBoxImg">
                                <a href="/goods-4489.html" target="_blank"> <img
                                        src="http://upload.static.daminghu.co/resource/public/game/20170105/7ae9a2d8-3064-327b-e6e3-e4048ee1f89d.png"
                                        alt=""/> </a>
                            </div>
                            <div class="gameConDetail">
                                <a href="/goods-4489.html" target="_blank"><h5 class="gameTitle">天天打蛋蛋</h5></a>

                                <div class="gameClassify">
                                    <a class="chargeGeneration"
                                       href="/goods-4489.html?pid=2" target="_blank">购买</a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </div>
    <div class="floor">
        <div class="recommend">
            <div class="InfoTitle">
                <div class="title">大明湖推荐</div>
                <div class="more">
                </div>
            </div>
            <div class="recommendCon">
                <ul>
                    <li>
                        <div class="gameConBox">
                            <div class="gameConBoxImg">
                                <a href="/details-815.html" target="_blank"> <img
                                        src="http://upload.static.daminghu.co/resource/public/game/20170105/be731b6c-2097-483a-7eff-fcc5cb255b0c.png"
                                        alt=""/> </a>
                            </div>
                            <div class="gameConDetail">
                                <a href="/details-815.html" target="_blank"><h5 class="recommendTitle">寻情剑 IOS购买 300元宝
                                    正规充值</h5></a>

                                <div class="gameClassify">
                                    <div class="recommPrice">
                                        <span class="Gameprice">￥28.00</span>
                                        <span class="directPrice">/ <i>￥30.00</i></span>
                                    </div>
                                    <div class="buyBtn">
                                        <a href="/details-815.html" class="purchase" target="_blank">我要购买</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="gameConBox">
                            <div class="gameConBoxImg">
                                <a href="/details-884.html" target="_blank"> <img
                                        src="http://upload.static.daminghu.co/resource/public/game/20161006/01a4babc-d610-5aa2-a4e8-67c9a349eb30.gif"
                                        alt=""/> </a>
                            </div>
                            <div class="gameConDetail">
                                <a href="/details-884.html" target="_blank"><h5 class="recommendTitle">王者荣耀 IOS购买
                                    10点券</h5></a>

                                <div class="gameClassify">
                                    <div class="recommPrice">
                                        <span class="Gameprice">￥1.00</span>
                                        <span class="directPrice">/ <i>￥1.00</i></span>
                                    </div>
                                    <div class="buyBtn">
                                        <a href="/details-884.html" class="purchase" target="_blank">我要购买</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="gameConBox">
                            <div class="gameConBoxImg">
                                <a href="/details-612.html" target="_blank"> <img
                                        src="http://upload.static.daminghu.co/resource/public/game/20161006/fd07d3c9-d8ae-cca0-8435-3b3121a0d1dc.jpg"
                                        alt=""/> </a>
                            </div>
                            <div class="gameConDetail">
                                <a href="/details-612.html" target="_blank"><h5 class="recommendTitle">城市精灵GO IOS购买 60钻石
                                    正规充值</h5></a>

                                <div class="gameClassify">
                                    <div class="recommPrice">
                                        <span class="Gameprice">￥6.00</span>
                                        <span class="directPrice">/ <i>￥6.00</i></span>
                                    </div>
                                    <div class="buyBtn">
                                        <a href="/details-612.html" class="purchase" target="_blank">我要购买</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="gameConBox">
                            <div class="gameConBoxImg">
                                <a href="/details-552.html" target="_blank"> <img
                                        src="http://upload.static.daminghu.co/resource/public/game/20161006/01a4babc-d610-5aa2-a4e8-67c9a349eb30.gif"
                                        alt=""/> </a>
                            </div>
                            <div class="gameConDetail">
                                <a href="/details-552.html" target="_blank"><h5 class="recommendTitle">王者荣耀 IOS购买 6480点券
                                    6480点卷</h5></a>

                                <div class="gameClassify">
                                    <div class="recommPrice">
                                        <span class="Gameprice">￥560.00</span>
                                        <span class="directPrice">/ <i>￥648.00</i></span>
                                    </div>
                                    <div class="buyBtn">
                                        <a href="/details-552.html" class="purchase" target="_blank">我要购买</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="gameConBox">
                            <div class="gameConBoxImg">
                                <a href="/details-894.html" target="_blank"> <img
                                        src="http://upload.static.daminghu.co/resource/public/game/20161006/01a4babc-d610-5aa2-a4e8-67c9a349eb30.gif"
                                        alt=""/> </a>
                            </div>
                            <div class="gameConDetail">
                                <a href="/details-894.html" target="_blank"><h5 class="recommendTitle"> 实际到帐3575</h5>
                                </a>

                                <div class="gameClassify">
                                    <div class="recommPrice">
                                        <span class="Gameprice">￥300.00</span>
                                        <span class="directPrice">/ <i>￥348.00</i></span>
                                    </div>
                                    <div class="buyBtn">
                                        <a href="/details-894.html" class="purchase" target="_blank">我要购买</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="gameConBox">
                            <div class="gameConBoxImg">
                                <a href="/details-539.html" target="_blank"> <img
                                        src="http://upload.static.daminghu.co/resource/public/game/20161006/12e81253-54bc-1b24-bfd5-e69702a9cfa3.jpg"
                                        alt=""/> </a>
                            </div>
                            <div class="gameConDetail">
                                <a href="/details-539.html" target="_blank"><h5 class="recommendTitle">部落冲突 IOS购买
                                    一大箱宝石</h5></a>

                                <div class="gameClassify">
                                    <div class="recommPrice">
                                        <span class="Gameprice">￥560.00</span>
                                        <span class="directPrice">/ <i>￥648.00</i></span>
                                    </div>
                                    <div class="buyBtn">
                                        <a href="/details-539.html" class="purchase" target="_blank">我要购买</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </div>
    <div class="floor">
    </div>
    <div class="floor">
        <div class="partner">
        </div>
    </div>
</section>


</body>
</html>