<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/style.css" rel='stylesheet' type='text/css' />
    <script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
</head>
<body ng-app="index" ng-controller="indexCtrl">

<h1>Welcome</h1>
<div class="login-form">
    <div class="close"> </div>
    <div class="head-info">
        <label class="lbl-1"> </label>
        <label class="lbl-2"> </label>
        <label class="lbl-3"> </label>
    </div>
    <div class="clear"> </div>
    <div class="avtar">
        <img src="/img/login/avtar.png" />
    </div>
    <form ng-submit="submit()">
        <input type="text" class="text" placeholder="Username" ng-model="username" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Username';}" >
        <div class="key">
            <input type="password" placeholder="Password" ng-model="password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}">
        </div>
    </form>
    <div ng-click="submit()" class="signin">
        <input type="submit" value="Login" >
    </div>
</div>
<script>
    angular.module('index',[]).controller('indexCtrl',function ($scope,$http) {
        $scope.username = null;
        $scope.password = null;
        $scope.submit=function () {
            $http.get("/admin/login?username="+$scope.username+"&password="+$scope.password).then(function($response){
                alert($scope.username);
            });
        }




    })
</script>

</body>
</html>